---
published: true
---
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/resources/page.css" rel="stylesheet" type="text/css">
    <link href="http://bootswatch.com/sandstone/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    {% include google_analytics.html %}
  </head>
  <body>
    <div class="container">
      {% include header.html %}
      <div class="panel panel-default">
	<div class="panel-body">
	  <p class="lead">Hello everyone!</p>
	  <p>Feel free to get in touch. I am on
	    Twitter <a href="https://twitter.com/martinhynar"><i class="fa fa-twitter-square"></i></a>
	    Google+ <a href="https://plus.google.com/u/0/+MartinHynar"><i class="fa fa-google-plus-square"></i></a>
	    or LinkedIn <a href="http://linkedin.com/in/martinhynar"><i class="fa fa-linkedin-square"></i></a>.</p>
	</div>
      </div>
    </div>
  </body>
</html>
