<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="description" content="Introduction to Clojure's answer on REST">
    <meta name="author" content="Martin Hynar">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/css/reveal.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/lib/css/zenburn.css">

    {% include google_analytics.html %}

</head>

<body>

  <div class="share-reveal"
       style="display: block; position: absolute; bottom: 14px; margin-left: 20px; z-index: 20;">
    <a href="/"
       style="color: #fff; font-family: Helvetica; padding: 4px 8px; border: 2px solid #fff; text-decoration: none; font-size: 12px; margin-right: 15px; position: relative; top: -6px;">home</a>

		</div>

{{ content }}


<script src="http://cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/js/reveal.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/lib/js/head.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

    dependencies: [
    { src: 'http://cdnjs.cloudflare.com/ajax/libs/reveal.js/2.6.2/plugin/highlight/highlight.js',
      async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
    ]

    });

</script>

</body>
</html>
